{% extends 'base.html' %}

{% block content %}
<h1>{{ todolist.name }}</h1>
<hr>
<h3>Current Todos</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>    
            <th>Created</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todolist.todo_set.incomplete %}
            <tr>
                <td>{{ todo.label }}</td>
                <td>{{ todo.created|date:'g:i:sA j/n/y' }} <em>({{ todo.created|timesince }} ago)</em></td>
                <td>
                    <form action='{{ todo.get_complete_url }}' method='post'>
                        {% csrf_token %}
                        <button type='submit' class='btn btn-default'>Complete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<h3>Past Todos</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>    
            <th>Created</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todolist.todo_set.complete %}
            <tr>
                <td>{{ todo.label }}</td>
                <td>{{ todo.created|date:'g:i:sA j/n/y' }} <em>({{ todo.created|timesince }} ago)</em></td>
                <td>{{ todo.updated|date:'g:i:sA j/n/y' }} <em>({{ todo.updated|timesince }} ago)</em></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<h3>Create New Todo</h3>
<form action="{% url 'todo_create' todolist.pk %}", method='post'>
    {% csrf_token %}
    {{ todo_form.as_p }}
    <input class='btn btn-default' type='submit'>
</form>
</ul>
{% endblock %}
